@model SwimBikeRunGroopWebApp.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://st2.depositphotos.com/4840515/10113/v/450/depositphotos_101134250-stock-illustration-black-logo-triathlon-vector-figures.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Ride, bike and swim</h1>
            <p class="lead">RSB is an app to help find people the perfect sport club.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row gap-4">
                @if (Model.Clubs != null)
            {
            <h3>Clubs near @Model.City</h3>

                @foreach (var item in Model.Clubs)
                {
                    <div class="col-md-4">
                    <div class="card mb-4 col-sm box-shadow">
                        <img class="card-img-top" src="@item.Image" width="100%" height="225" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text">@item.Description</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-controller="Club" asp-action="Detail" asp-route-id="@item.ClubId" class="btn btn-outline-primary">View</a>

                                            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                            {
                                                <a type="button" class="btn btn-outline-info" asp-controller="Club" asp-action="Edit" asp-route-id="@item.ClubId">
                                                    Edit
                                                </a>
                                                <form asp-action="Delete" asp-controller="Club" asp-route-id="@item.ClubId">
                                                    <a type="button" class="btn btn-outline-danger">Delete</a>
                                                </form>
                                            }
                                        }
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
            else
            {
                    <h2>No clubs in your area</h2>
                
            }

        </div>
    </div>
</div>